// ----------------------------- SHORTCUTS --------------------------- \\

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

// ----------------------------- GENERAL --------------------------- \\

$PM-font: font-family: 'Permanent Marker', cursive;

html, body {
  height: 100%;
}

.game-board-section {
  height: 75%;
}

.highlight {
  background-color: red;
}

// ----------------------------- HEADING --------------------------- \\

.title h1 {
  text-align: center;
  padding:2%;
}

// ----------------------------- BOARD --------------------------- \\

.game-board-section {
  width: 75%;
  margin: 0 auto;
}

.board {
  background-color: red;
  height: 100%;
  padding: 3%;
  width: 80%;
}

.row {
  flex-grow: 1;
  border: 2px solid black;
  border-top: none;
  justify-content: space-between;
  width: 50%;
  &:first-child {
    border-top: 2px solid black;
  }
  button {
    flex-grow: 1;
  }
}
